:root {
    --couleur-de-fond: #111111;
    --couleur-p: rgb(212, 212, 212);
    --jaune-logo-lol: #bd9338;
    --couleur-div: #1A1818;
    --couleur-soustexte: #6B5D5D;
}

body {
    background-color: var(--couleur-de-fond);
    color: var(--couleur-p);
}

/* Style du header/nav */
nav {
    display: flex;
    align-items: center;
}

nav .logo {
    font-size: xx-large;
    color: var(--jaune-logo-lol);
    text-decoration: none;
}

nav li {
    color: var(--jaune-logo-lol);
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin-left: 4rem;
}

.menu li {
    display: inline-block;
    margin-left: 4rem;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li:hover {
    text-decoration: underline;
}

main {
    display: flex;
    width: 100%;
    gap: 2rem;
}

section#left {
    flex: 1;
}

section#right {
    flex: 1;
    background-color: var(--couleur-div);
    border-radius: 5px;
}

section#right #championAssets {
    width: 100%;
}

section#right #itemAssets {
    width: 6rem;
}


section#right #championAssets img {
    width: 100%;
}

#itemAssets {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

/* Div contenant la liste des champions */
#containerChampion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--couleur-div);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

#containerChampion {
    border-radius: 10px;
}

#containerChampion div {
    width: 15%;
}

#containerChampion div img {
    width: 100%;
}

#containerChampion div p {
    margin-top: 0;
    font-size: small;
}

/* Div contenant le nom et le lore du champion */
#containerInfo {
    padding: 0 30px 0 30px;
}

#containerInfo p a {
    color: var(--jaune-logo-lol);
    cursor: pointer;
}

/* Div contenant les 5 spell du champion */
#containerSpell {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

/* Div contenant la description du spell */
#spellDescription {
    padding: 0 30px 0 30px;
}

#spellDescription span {
    color: var(--couleur-soustexte);
}

#spellDescription h3 {
    margin: 0;
    font-size: x-large;
}

#spellDescription p {
    margin-top: 0;
    margin-bottom: 90px;
}

/* Graphique des statistiques */
#chart {
    width: 100%;
}

#myChart {
    margin: auto;
    width: 100% !important;
    height: auto !important;
}

/* Formulaire de recherche des champion  */
#containerForm {
    width: 100%;
    background-color: #1A1818;
    border-radius: 5px;
    padding: 30px 0 20px 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Formulaire de recherche des item  */
#formItem {
    display: none;
}