:root {
    --couleur-de-fond: #111111;
    --couleur-p: rgb(212, 212, 212);
    --jaune-logo-lol: #bd9338;
}

body {
    background-color: var(--couleur-de-fond);
    color: var(--couleur-p);
}

/* Style du header/nav */
nav {
    display: flex;
    align-items: center;
}

nav a {
    color: var(--jaune-logo-lol);
    text-decoration: none;
    font-size: x-large;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin-left: 4rem;
}

.menu li {
    display: inline-block;
    margin-left: 4rem;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: var(--jaune-logo-lol);
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;  
}

main {
    display: flex;
    width: fit-content;
    gap: 2rem;
}

section#left {
    flex: 1;
}

section#right {
    flex: 1;
}

section#right #championAssets {
    width: 100%;
}

section#right #championAssets img {
    width: 100%;
}

/* Div contenant la liste des champions */
#containerChampion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Div contenant le nom et le lore du champion */
#containerInfo p a {
    color: var(--jaune-logo-lol);
    cursor: pointer;
}

/* Div contenant les 5 spell du champion */
#containerSpell {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}