:root{
    --couleur-de-fond : #111111;
    --couleur-p:rgb(212, 212, 212);
    --jaune-logo-lol:#bd9338;
}

body {
    background-color: var(--couleur-de-fond);
    color: var(--couleur-p);
}

main {
    display: flex;
    width: fit-content;
    gap: 2rem;
}

section#left {
    flex: 1;
}

section#right {
    flex: 1;
}

section#right #championAssets {
    width: 100%;
}

section#right #championAssets img {
    width: 100%;
}

/* Div contenant la liste des champions */
#containerChampion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Div contenant le nom et le lore du champion */
#containerInfo p a{
    color: var(--jaune-logo-lol);
    cursor: pointer;
}